[submodule "fdf/library"]
	path = fdf/library
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "fdf/MLX42"]
	path = fdf/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "push_swap/push_swap_visualizer"]
	path = push_swap/push_swap_visualizer
	url = https://github.com/o-reo/push_swap_visualizer.git
[submodule "push_swap_tester"]
	path = push_swap_tester
	url = https://github.com/gemartin99/Push-Swap-Tester.git
[submodule "fdf/42MapGenerator"]
	path = fdf/42MapGenerator
	url = https://github.com/jgigault/42MapGenerator.git
